
{%block callout%}
<!-- Callout -->
<section class="callout">
  <div class="container text-center">
    <h2 class="mx-auto mb-5">Welcome to
      <em>Our</em>
      sample website!</h2>
    <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/theme/stylish-portfolio/">Download Now!</a>
  </div>
</section>

{%endblock%}
