
<!-- Call to action -->
{%block call_to_action%}

<section class="content-section bg-primary text-white">
  <div class="container text-center">
    <h2 class="mb-4">The buttons below are impossible to resist...</h2>
    <a href="#!" class="btn btn-xl btn-light mr-4">Click Me!</a>
    <a href="#!" class="btn btn-xl btn-dark">Look at Me!</a>
  </div>
</section>

 {%endblock%}
